<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" module="Episodes" action="index" vars="page"/>
  <route url="/page-([0-9]+)" module="Episodes" action="index" vars="page"/>
  <route url="/episode-([0-9]+)\.html" module="Episodes" action="show" vars="id"/>
  <route url="/commenter-([0-9]+)\.html" module="Episodes" action="insertComment" vars="episodes" />
  <route url="/commenter-reponse-([0-9]+)\.html" module="Episodes" action="responseComment" vars="comment" />
  <route url="/comment-report-([0-9]+)\.html" module="Episodes" action="reportComment" vars="comment" />
  <route url="/contact/" module="Informations" action="contact"/>
  <route url="/a-propos/" module="Informations" action="about"/>
  <route url="/flux.rss" module="Episodes" action="rss"/>
</routes>
